
div {
    color: white;
    font-size: 44px;
    text-align: center;
    font-family: Walbaum, Meta, Calibri;
    background-color:black
    
}

p {
    text-align: center;
    font-family:'Times New Roman', Times, serif
}